.mlv-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 15vh;
  max-height: 100px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  overflow: hidden;
  z-index: 999;
  margin-bottom: 20px;
}
.mlv-lists-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: (max(15vh, 125px));
  left: 2.5vh;
  right: 7.5vh;
}
.mlv-title {
  font-family: Verdana;
}
.mlv-link {
  color: inherit;
  text-decoration: inherit;
}

.back-button {
  position: fixed;
  right: 0;
  top: 20%;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #89cff0;
  border: none;
}

.back-button:hover {
  width: 85px;
}
