.srv-header {
    border: solid red 2px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
}
.srv-lists-button {
    align-self: flex-start;
    margin-right: auto;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
    cursor: pointer;
}
.srv-searchbar {
    margin: auto;
    /* Does nothing but may be needed in future */
    text-align: center;

}
.icon {
    position: absolute;
    min-width: 40px;
    left: -5px;
    top:3px
}
.srv-sort {
    align-self: flex-end;
    margin-right: 1.5vh;
    margin-left: auto;
    margin-bottom: 2.5vh;
    cursor: pointer;
}
.srv-filter {
    align-self: flex-end;
    margin-right: 2.5vh;
    margin-bottom: 2.5vh;
    cursor: pointer;
}
.srv-buttons {
    align-self: flex-end;
    margin-left: auto;
}
.srv-results-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 2.5vh;
    right: 2.5vh;
}
.left.inner-wrapper, .right.inner-wrapper {
    flex:1;
    display:flex;
}
.left.inner-wrapper {
    align-self: flex-start;
    margin-right: auto;
}
.right.inner-wrapper {
    align-self: flex-end;
    /* margin-left: auto; */
}
.centre.inner-wrapper {
    position:relative;
    display:flex;
}
.srv-top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightgrey;
    color: white;
    cursor: pointer;
    font-family: Verdana;
    border-radius: 7px;
    padding: 5px;
}
.srv-top-button:hover {
    background-color: grey;
}