@keyframes szh-menu-show {
  from {
    opacity: 0;
  }
}

@keyframes szh-menu-hide {
  to {
    opacity: 0;
  }
}

.szh-menu {
  font-family: Verdana, sans-serif;
  font-size: 0.925rem;
  user-select: none;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 6px;
  min-width: 10rem;
  border-style: none;
}
.szh-menu-button {
  font-size: 1.5em;
  background-color: transparent;
  border: none;
}
.szh-menu--state-closing {
  animation: szh-menu-hide 0.05s ease-out;
}

.add-menu-item {
  font-size: 0.75rem;
  overflow: auto;
}

.add-icon .delete-icon {
  padding-left: 4px;
}
