.menu-container {
  height: 340px;
  width: 200px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

.context-button {
  height: 30px;
  width: 40px;
  margin: 0 5px 3px 0;
  font-size: 0.9em;
  font-weight: bold;
  color: gray;
  padding: 0px;
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

.tile-container {
  height: 320px;
  width: 200px;

  border-radius: 7px;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
  overflow: hidden;
}

.tile-preview {
  height: 240px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tile-preview-collage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.full-img {
  height: 240px;
  width: 100%;
}
.collage-img {
  height: 120px;
  width: 100px;
}

.tile-details {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 2px 2px 2px;
}

.tile-title {
  font-family: Verdana;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18ch;
  padding: 0 20px;
}

.tile-content-minor {
  max-width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
