.menu-container {
  height: 180px;
  width: 120px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px red
}

.context-button {
  height: 15px;
  width: 20px;
  margin: 0 5px 3px 0;
  font-size: 0.45em;
  font-weight: bold;
  color: gray;
  padding: 0px;
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

.tile-container {
  height: 160px;
  width: 100px;
  border-radius: 7px;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
  overflow: hidden;
}

.tile-preview {
  height: 130px;
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-details {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 0;
  /* padding: auto 1.5px; */
}

.tile-title {
  font-family: Verdana;
  font-size: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18ch;
}

.tile-status {
  font-family: Verdana;
  font-size: 0.35em;
  margin: 2px;
  font-style: oblique 10deg;
}

.tile-content-minor {
  max-width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tile-genres-container {
    position: absolute;
    bottom: 1.5px;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1.5px;
}
.tile-genre {
    background-color: white;
    padding: 1.5px;
    margin: 1.5px;
    font-family: Verdana;
    font-size: 0.35em;
    border-radius: 2px;
}