.outer-tile-container {
  font-family: "Montserrat", sans-serif;
  height: 340px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

.tile-container {
  height: 320px;
  width: 200px;

  border-radius: 7px;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
  overflow: hidden;
}

.tile-preview {
  height: 240px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-details {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 2px 2px 2px;
}

.tile-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18ch;
  padding: 0 20px;
}

.tile-status {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  margin: 2px;
  font-style: oblique 10deg;
}

.tile-genres-container {
  position: absolute;
  bottom: 1.5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1.5px;
}
.tile-genre {
  background-color: white;
  padding: 1.5px;
  margin: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  border-radius: 2px;
}

.tile-menu-container {
  position: relative;
  align-self: flex-end;
}

.tooltip {
  position: absolute;
  left: 30px;
  top: 10px;
  border-radius: 6px;
  height: 40px;
  width: 80px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.2s;
}

.tile-menu-container:hover .tile-item.tooltip {
  visibility: visible;
}
